* {
  margin: 0 auto;
  padding: 0;
}

div {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, button {
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}
button {
  border-radius: 8px;
  background-color: blueviolet;
  border: none;
  color: white;
  font-weight: bold;
}